<div style=" background-color: RGB(0,114,200);" >
<h1 style="margin: auto; padding: 20px 0; color:#fff; text-align: center">PROJET 4 DATA ANALYST</h1>
<h2 style="margin: auto; padding: 20px 0; color:#fff; text-align: center">Réalisez une étude de santé publique avec R ou Python
</h2>
</div>

# OBJECTIF DE CE NOTEBOOK

Bienvenue dans l'outil plébiscité par les analystes de données Jupyter.

Il s'agit d'un outil permettant de mixer et d'alterner codes, textes et graphique.

Cet outil est formidable pour plusieurs raisons:

+ il permet de tester des lignes de codes au fur et à mesure de votre rédaction, de constater immédiatement le résultat d'un instruction, de la corriger si nécessaire.
+ De rédiger du texte pour expliquer l'approche suivie ou les résultats d'une analyse et de le mettre en forme grâce à du code html ou plus simple avec **Markdown**
+ d'agrémenter de graphiques

Pour vous aider dans vos premiers pas à l'usage de Jupyter et de Python, nous avons rédigé ce notebook en vous indiquant les instructions à suivre.

Il vous suffit pour cela de saisir le code Python répondant à l'instruction donnée.

Vous verrez de temps à autre le code Python répondant à une instruction donnée mais cela est fait pour vous aider à comprendre la nature du travail qui vous est demandée.

Et garder à l'esprit, qu'il n'y a pas de solution unique pour résoudre un problème et qu'il y a autant de résolutions de problèmes que de développeurs ;)...

<div style="background-color: RGB(0,150,250);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 1 - Importation des librairies et chargement des fichiers</h2>
</div>

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">1.1 - Importation des librairies</h3>
</div>

In [2]:
# Importation de la librairie Pandas
import pandas as pd

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">1.2 - Chargement des fichiers Excel</h3>
</div>

In [4]:
#Importation du fichier population.csv
population = pd.read_csv("data/population.csv")

#Importation du fichier dispo_alimentaire.csv
dispo = pd.read_csv("data/dispo_alimentaire.csv")

#Importation du fichier aide_alimentaire.csv
aide = pd.read_csv("data/aide_alimentaire.csv")

#Importation du fichier sous_nutrition.csv
sous_nutrition = pd.read_csv("data/sous_nutrition.csv")

<div style="background-color: RGB(0,150,250);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 2 - Analyse exploratoire des fichiers</h2>
</div>

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">2.1 - Analyse exploratoire du fichier population</h3>
</div>

In [5]:
#Afficher les dimensions du dataset
print("Le tableau comporte {} observation(s) ou article(s)".format(population.shape[0]))
print("Le tableau comporte {} colonne(s)".format(population.shape[1]))

Le tableau comporte 1416 observation(s) ou article(s)
Le tableau comporte 3 colonne(s)

In [ ]:
#Consulter le nombre de colonnes
#La nature des données dans chacune des colonnes
#Le nombre de valeurs présentes dans chacune des colonnes

#Informations sur le fichier population.csv
print("\nPopulation :")

print(population.describe())

#Informations sur dispo_alimentaire.csv
print("\nDisponibilité alimentaire :")
print(dispo.info())
print(dispo.describe())

#Informations sur aide_alimentaire.csv
print("\nAide alimentaire :")
print(aide.info())
print(aide.describe())

#Informations sur sous_nutrition.csv
print("\nSous-nutrition :")
print(sous_nutrition.info())
print(sous_nutrition.describe())

Population :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1416 entries, 0 to 1415
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Zone    1416 non-null   object
 1   Année   1416 non-null   int64
 2   Valeur  1416 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 33.3+ KB
None
             Année        Valeur
count  1416.000000  1.416000e+03
mean   2015.500000  3.144793e+04
std       1.708428  1.300812e+05
min    2013.000000  7.930000e-01
25%    2014.000000  3.783410e+02
50%    2015.500000  5.126480e+03
75%    2017.000000  1.930666e+04
max    2018.000000  1.427648e+06

Disponibilité alimentaire :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15605 entries, 0 to 15604
Data columns (total 18 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Zone                                                           15605 non-null  object
 1   Produit                                                        15605 non-null  object
 2   Origine                                                        15605 non-null  object
 3   Aliments pour animaux                                          2720 non-null   float64
 4   Autres Utilisations                                            5496 non-null   float64
 5   Disponibilité alimentaire (Kcal/personne/jour)                 14241 non-null  float64
 6   Disponibilité alimentaire en quantité (kg/personne/an)         14015 non-null  float64
 7   Disponibilité de matière grasse en quantité (g/personne/jour)  11794 non-null  float64
 8   Disponibilité de protéines en quantité (g/personne/jour)       11561 non-null  float64
 9   Disponibilité intérieure                                       15382 non-null  float64
 10  Exportations - Quantité                                        12226 non-null  float64
 11  Importations - Quantité                                        14852 non-null  float64
 12  Nourriture                                                     14015 non-null  float64
 13  Pertes                                                         4278 non-null   float64
 14  Production                                                     9180 non-null   float64
 15  Semences                                                       2091 non-null   float64
 16  Traitement                                                     2292 non-null   float64
 17  Variation de stock                                             6776 non-null   float64
dtypes: float64(15), object(3)
memory usage: 2.1+ MB
None
       Aliments pour animaux  Autres Utilisations  \
count            2720.000000          5496.000000
mean              479.501838           157.391376
std              4240.119637          5076.785816
min                 0.000000             0.000000
25%                 0.000000             0.000000
50%                 4.000000             0.000000
75%                74.000000             4.000000
max            150000.000000        347309.000000

       Disponibilité alimentaire (Kcal/personne/jour)  \
count                                    14241.000000
mean                                        34.789832
std                                        107.287655
min                                        -21.000000
25%                                          0.000000
50%                                          4.000000
75%                                         21.000000
max                                       1711.000000

       Disponibilité alimentaire en quantité (kg/personne/an)  \
count                                       14015.000000
mean                                            8.719368
std                                            24.618223
min                                            -1.930000
25%                                             0.060000
50%                                             0.830000
75%                                             5.190000
max                                           430.760000

       Disponibilité de matière grasse en quantité (g/personne/jour)  \
count                                       11794.000000
mean                                            1.283111
std                                             3.680399
min                                            -0.030000
25%                                             0.010000
50%                                             0.080000
75%                                             0.630000
max                                            60.760000

       Disponibilité de protéines en quantité (g/personne/jour)  \
count                                       11561.000000
mean                                            1.223608
std                                             3.598686
min                                            -0.370000
25%                                             0.010000
50%                                             0.100000
75%                                             0.660000
max                                            54.970000

       Disponibilité intérieure  Exportations - Quantité  \
count              15382.000000             12226.000000
mean                 640.293460               110.596925
std                 9067.267153              1053.318990
min                -3430.000000               -41.000000
25%                    0.000000                 0.000000
50%                    7.000000                 0.000000
75%                   76.750000                 9.000000
max               739267.000000             42797.000000

       Importations - Quantité     Nourriture        Pertes     Production  \
count             14852.000000   14015.000000   4278.000000    9180.000000
mean                 87.264543     347.931359    106.053763    1090.379085
std                 717.372714    4475.704458   1113.100416   12067.344094
min                -201.000000    -246.000000      0.000000       0.000000
25%                   0.000000       0.000000      0.000000       2.000000
50%                   2.000000       5.000000      4.000000      22.000000
75%                  18.000000      52.000000     26.000000     191.250000
max               63381.000000  426850.000000  55047.000000  739267.000000

           Semences     Traitement  Variation de stock
count   2091.000000    2292.000000         6776.000000
mean      73.974653     961.905323          -15.407615
std      528.069224   10381.795904          549.834540
min        0.000000     -19.000000       -39863.000000
25%        0.000000       0.000000            0.000000
50%        2.000000       6.000000            0.000000
75%       17.000000      69.000000            0.000000
max    17060.000000  326711.000000         5284.000000

Aide alimentaire :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1475 entries, 0 to 1474
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Pays bénéficiaire  1475 non-null   object
 1   Année              1475 non-null   int64
 2   Produit            1475 non-null   object
 3   Valeur             1475 non-null   int64
dtypes: int64(2), object(2)
memory usage: 46.2+ KB
None
             Année         Valeur
count  1475.000000    1475.000000
mean   2014.054237    7481.966780
std       0.946916   23339.531424
min    2013.000000       0.000000
25%    2013.000000     287.500000
50%    2014.000000    1178.000000
75%    2015.000000    4334.500000
max    2016.000000  265013.000000

Sous-nutrition :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Zone    1218 non-null   object
 1   Année   1218 non-null   object
 2   Valeur  624 non-null    object
dtypes: object(3)
memory usage: 28.7+ KB
None
               Zone      Année Valeur
count          1218       1218    624
unique          203          6    139
top     Afghanistan  2012-2014   <0.1
freq              6        203    120

In [ ]:
#Affichage les 5 premières lignes de la table

#Affichage du fichier population.csv
print("Population :")
display(population.head())

#Affichage du fichier dispo_alimentaire.csv
print("Disponibilité alimentaire :")
display(dispo.head())

#Affichage du fichier aide_alimentaire.csv
print("Aide alimentaire :")
display(aide.head())

#Affichage du fichier sous_nutrition.csv
print("Sous-nutrition :")
display(sous_nutrition.head())

In [ ]:
#Nous allons harmoniser les unités. Pour cela, nous avons décidé de multiplier la population par 1000

#Multiplication de la colonne valeur par 1000
population["Valeur"] = population["Valeur"] * 1000
display(population.head())

In [ ]:
#Changement du nom de la colonne Valeur par Population
population = population.rename(columns={"Valeur": "Population"})

In [ ]:
#Affichage les 5 premières lignes de la table pour voir les modifications
display(population.head())

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">2.2 - Analyse exploratoire du fichier disponibilité alimentaire</h3>
</div>

In [ ]:
#Afficher les dimensions du dataset
print("Dimensions du dataset :", dispo.shape)

In [ ]:
#Consulter le nombre de colonnes
print("\nInfos sur les colonnes :")
print(dispo.info())

In [ ]:
#Affichage les 5 premières lignes de la table
print("\nAperçu du dataset :")
display(dispo.head())

In [ ]:
#Remplacement des NaN dans le dataset par des 0
dispo = dispo.fillna(0)
print("\nAprès remplacement des NaN par 0 :")
display(dispo.head())

In [ ]:
#Multiplication de toutes les lignes contenant des milliers de tonnes en Kg
colonnes_tonnes = [
    "Disponibilité intérieure",
    "Aliments pour animaux",
    "Semences",
    "Pertes",
    "Transformations",
    "Exportations",
    "Nourriture",
    "Autres utilisations"
]

for col in colonnes_tonnes:
    if col in dispo.columns:
        dispo[col] = dispo[col] * 1000

In [ ]:
#Affichage les 5 premières lignes de la table
print("\nDataset après conversion en kg :")
display(dispo.head())

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">2.3 - Analyse exploratoire du fichier aide alimentaire</h3>
</div>

In [ ]:
#Afficher les dimensions du dataset

In [ ]:
#Consulter le nombre de colonnes

In [ ]:
#Affichage les 5 premières lignes de la table

In [ ]:
#Changement du nom de la colonne Pays bénéficiaire par Zone

In [ ]:
#Multiplication de la colonne Aide_alimentaire qui contient des tonnes par 1000 pour avoir des kg

In [ ]:
#Affichage les 5 premières lignes de la table

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">2.3 - Analyse exploratoire du fichier sous nutrition</h3>
</div>

In [ ]:
#Afficher les dimensions du dataset

In [ ]:
#Consulter le nombre de colonnes

In [ ]:
#Afficher les 5 premières lignes de la table

In [ ]:
#Conversion de la colonne sous nutrition en numérique
sous_nutrition['Valeur'] = pd.to_numeric(sous_nutrition['Valeur'])

In [ ]:
#Conversion de la colonne (avec l'argument errors=coerce qui permet de convertir automatiquement les lignes qui ne sont pas des nombres en NaN)
#Puis remplacement des NaN en 0

In [ ]:
#changement du nom de la colonne Valeur par sous_nutrition

In [ ]:
#Multiplication de la colonne sous_nutrition par 1000000

In [ ]:
#Afficher les 5 premières lignes de la table

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.1 - Proportion de personnes en sous nutrition</h3>
</div>

In [ ]:
# Il faut tout d'abord faire une jointure entre la table population et la table sous nutrition, en ciblant l'année 2017

In [ ]:
#Affichage du dataset

In [ ]:
#Calcul et affichage du nombre de personnes en état de sous nutrition

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.2 - Nombre théorique de personne qui pourrait être nourries</h3>
</div>

In [ ]:
#Combien mange en moyenne un être humain ? Source =>

In [ ]:
#On commence par faire une jointure entre le data frame population et Dispo_alimentaire afin d'ajouter dans ce dernier la population

In [ ]:
#Affichage du nouveau dataframe

In [ ]:
#Création de la colonne dispo_kcal avec calcul des kcal disponibles mondialement

In [ ]:
#Calcul du nombre d'humains pouvant être nourris

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.3 - Nombre théorique de personne qui pourrait être nourrie avec les produits végétaux</h3>
</div>

In [ ]:
#Transfert des données avec les végétaux dans un nouveau dataframe

In [ ]:
#Calcul du nombre de kcal disponible pour les végétaux

In [ ]:
#Calcul du nombre d'humains pouvant être nourris avec les végétaux

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.4 - Utilisation de la disponibilité intérieure</h3>
</div>

In [ ]:
#Calcul de la disponibilité totale

In [ ]:
#création d'une boucle for pour afficher les différentes valeurs en fonction des colonnes aliments pour animaux, pertes, nourritures,

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.5 - Utilisation des céréales</h3>
</div>

In [ ]:
#Création d'une liste avec toutes les variables

In [ ]:
#Création d'un dataframe avec les informations uniquement pour ces céréales

In [ ]:
#Affichage de la proportion d'alimentation animale

In [ ]:
#Affichage de la proportion d'alimentation animale

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.6 - Pays avec la proportion de personnes sous-alimentée la plus forte en 2017</h3>
</div>

In [ ]:
#Création de la colonne proportion par pays

In [ ]:
#affichage après trie des 10 pires pays

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.7 - Pays qui ont le plus bénéficié d'aide alimentaire depuis 2013</h3>
</div>

In [ ]:
#calcul du total de l'aide alimentaire par pays

In [ ]:
#affichage après trie des 10 pays qui ont bénéficié le plus de l'aide alimentaire

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.8 - Evolution des 5 pays qui ont le plus bénéficiés de l'aide alimentaire entre 2013 et 2016</h3>
</div>

In [ ]:
#Création d'un dataframe avec la zone, l'année et l'aide alimentaire puis groupby sur zone et année

In [ ]:
#Création d'une liste contenant les 5 pays qui ont le plus bénéficiées de l'aide alimentaire

In [ ]:
#On filtre sur le dataframe avec notre liste

In [ ]:
# Affichage des pays avec l'aide alimentaire par année

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.9 - Pays avec le moins de disponibilité par habitant</h3>
</div>

In [ ]:
#Calcul de la disponibilité en kcal par personne par jour par pays

In [ ]:
#Affichage des 10 pays qui ont le moins de dispo alimentaire par personne

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.10 - Pays avec le plus de disponibilité par habitant</h3>
</div>

In [ ]:
#Affichage des 10 pays qui ont le plus de dispo alimentaire par personne

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.11 - Exemple de la Thaïlande pour le Manioc</h3>
</div>

In [ ]:
#création d'un dataframe avec uniquement la Thaïlande

In [ ]:
#Calcul de la sous nutrition en Thaïlande

In [ ]:
# On calcule la proportion exportée en fonction de la proportion

<div style="background-color: RGB(0,150,250);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 6 - Analyse complémentaires</h2>
</div>

In [ ]:
#ajouter en dessous toutes les analyses complémtaires